packages:
  yum:
    git: []
    gcc: []
    autoconf: []
    flex: []
    bison: []
    libjpeg-turbo-devel: []
    freetype-devel: []
    zlib-devel: []
    zeromq3-devel: [] 
    gdbm-devel: []
    ncurses-devel: []
    automake: []
    libtool: []
    libffi-devel: []
    curl: []
    git: []
    tmux: []
    libxml2-devel: []
    libxslt-devel: []
    openssl-devel: []
    gcc-c++: []
